# ─── MySQL ────────────────────────────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USER=auction_user
DB_PASSWORD=auction_pass
DB_NAME=live_auction

# ─── Cloudinary ───────────────────────────────────────────────
# Obtén estas credenciales en: https://console.cloudinary.com

CLOUDINARY_CLOUD_NAME=djutyg70a
CLOUDINARY_API_KEY=813929529522726
CLOUDINARY_API_SECRET=IDTCl7baokiNCKsAxWwUWXsm8c8

# ─── Puertos ──────────────────────────────────────────────────
WS_PORT=8080
HTTP_PORT=3000
